body {
  font-family: sans-serif;
}

span {
  width: 29.8%;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px 25px;
  margin: 10px;
}

.amarillo {
  background-color: yellow;
}

.red {
  background-color: red;
}

span:nth-child(3) {
  text-transform: uppercase;
}
