body {
  font-family: sans-serif;
}
div  {
  display: inline-block;
  width: 100%;
  align-items: center;
}

span {
  display: block;
  padding: 10px 10px 40px;
  font-size: 20px;
  margin: 20px auto;;
  width: 15%;
}

.amarillo {
  background-color: yellow;
}

.red {
  background-color: red;
}

body :nth-child(3) {
  text-transform: uppercase;
}
