body {
  font-family: sans-serif;
}

div {
  width: 37%;
  margin: 0 auto;
  align-items: center;
}

span {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
}

.amarillo {
  background-color: yellow;
}

.red {
  background-color: red;
}

body :nth-child(3) {
  text-transform: uppercase;
}
